body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

header {
    background: #00697E;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.livros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #00697E;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
